@model WebApp_core_Login.Models.viewModel.registerViewModel
@{
}
<div class="row">
    <div class="col-md-4 offset-sm-4">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-4">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="username" class="form-label">Username</label>
                <input asp-for=username type="text" class="form-control" placeholder="Username" />
                <span asp-validation-for="username"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="password" class="form-label">Password</label>
                <input asp-for="password" type="password"class="form-control" placeholder="Password"/>
            </div>
            <div class="form-group mb-3">
                <label asp-for="password2" class="form-label">Verify Password</label>
                <input asp-for="password2" type="password" class="form-control" placeholder="Verify Password" />
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>
